:root {
  --primary: #5164e3;
  --secondary: #6e9aec;
  --tertiary: #51e363;
  --quaternary: #ffdb5c;
  --dark: #3d3d3d;
  --light: #eee;
}

body{
  font-family: 'Rubik';
}
.main-flow {
  display: block;
  max-width: 900px;
  margin: 0 auto;
}

.full-block {
  display: block;
  width: 100%;
}

.main-header {
  min-height: 100vh;
}

.logo {
  height: 2rem;
}

.main-header .content,
.card {
  display: grid;
  grid-template-columns: 8fr 4fr;
  padding: 5%;
  background-color: transparent!important;
  color: #3d3d3d;
  box-sizing: border-box;
}

.content {
  background-image: url('../img/background-home.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rubik', sans-serif;
  height: 170vh
}

.content h1 {
  font-family: 'Source Sans Pro';
  font-weight: 400;
}

.button-discover {
  background-color: #5164e3;
  color: white;
  padding: 10px 20px;
  margin-top: 30px;
  text-decoration: none;
  border-radius: 5px;
}

.button-discover:hover{
  background-color: #6e9aec;
  transition: 150ms;
  cursor: pointer;
}
.title-box {
  background-color: #5164e3;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.main-section {
  padding-left: 4rem;
  padding-right: 4rem;
}

.card {
  max-width: 90%;
  margin: 0 auto;
}

.section-1 {
}

.logo {
  padding: 20px;
}

.card-title{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 30px;
}
.card-text{
  font-weight: 200;
}

footer{
  background-color: #3d3d3d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: flex-start;
  padding: 20px;
}
footer h1{
  color: #5164e3;
  font-size: 25px;  
  margin-left: 40px;
}
footer ul {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  font-size: 13px;
  text-decoration: none;
  font-weight: 400;
  gap: 0px 30px;
  list-style: none;
}